<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <style>
        .success{color : green}
        .danger {color : red}
    </style>
</head>
<body>
{% with messages = get_flashed_messages(with_categories = true) %}
{% if messages %}
{% for category, message in messages %}
<p></p>
{% endfor %}
{% endif %}
{% endwith %}
<h2>Авторизуйся, человек!</h2>
<form action="/autorisation/save/", method="post">
    <label for="username">Лагин</label>
    <input id="username" type="text" name="username" >
    <p></p>
    <label for="password">Парол</label>
    <input id="password" type="password" name="password">
    <p></p>
    <label for="last_name">Фамилия</label>
    <input id="last_name" type="text" name="last_name">
    <p></p>
    <label for="name">Имя</label>
    <input id="name" type="text" name="name">
    <p></p>
    <label for="patronymic">Патронумик</label>
    <input id="patronymic" type="text" name="patronymic">
    <p></p>
    <label for="gender">Гендер</label>
    <input id="gender" type="text" name="dender">
    <p></p>
    <input type="submit" value="Логин">
    <a href="/login/">Войти в готовый аккаунт</a>
</form>
</body>
</html>